:root {
    --primary-color: #B8D0EB;
    --secondary-color: #A663CC;
    --accent1-color: #B298DC;
    --accent2-color: #FAE6FA;
    --heading-font: 'Merriweather', serif;
    --body-font: 'Roboto', sans-serif;
  }
  
  /* Reset & Global Styles */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: var(--body-font);
    color: var(--accent1-color);
    background-color: var(--primary-color);
  }
  
  /* Layout Structure */
  header,
  main,
  footer {
    width: 840px;
    margin: 0 auto;
  }
  
  header {
    background-color: var(--primary-color);
    color: var(--accent1-color);
    padding: 1rem;
  }
  
  /* Typography */
  h1,
  h2 {
    font-family: var(--heading-font);
    color: var(--secondary-color);
    margin-bottom: 0.5rem;
  }
  
  p,
  section,
  article,
  nav {
    margin: 16px;
    padding: 8px;
  }
  
  /* Navigation */
  nav a {
    text-decoration: none;
    margin-right: 10px;
    color: var(--accent1-color);
    font-weight: bold;
  }
  
  /* Social Media Links */
  .social-media a {
    text-decoration: none;
    margin-right: 10px;
  }
  
  .social-media img {
    width: 32px;
    height: auto;
  }
  .hero {
    position: relative;
  }
  .hero img {
    display: block;
    width: 100%;
    height: auto;
  }
  .hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;  
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #FAE6FA

  }
  .hero article {
    position: absolute;
    top: 100px;
    margin: 0;
    width: 100%;  
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #FAE6FA
  }
  .hero article img {
    float: right;
    width: 125px;
  }